@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding:  0;
    background-color: black;
    list-style: none;
    text-decoration: none;
    
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
  

}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family:'Kdam Thmor Pro', sans-serif;
}
li:hover {
    color: #d21617;
}
#logo {
    width: 140px;
    height: auto;
}
#banner {
    background-image: url('https://images7.alphacoders.com/128/1289452.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    }

#trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content:center;
    }
    .content {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .trailer {
        width: 50%;
    }
    
    #sinopse {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }
    .description {
        color: #fff;
        font-size: 19px;
        font-family:'Kdam Thmor Pro', sans-serif; 
        width: 70%;
    }
    .button {
        width: 200px;
        height: 60px;
        background-color: #d21617;
        color: #fff;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: .8s;
        font-size: 18px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        border: none;
        outline: none;
        margin-top: 25px;
    }
    .button:hover {
        background-color: #fff;
        color: #000;
    
    }

    .actor-cards-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }
    .cards-content {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 40px;
        
    }

    .card {
        width: 100%;
        height:200px;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 5px;
        cursor:pointer;
        transition: 1s;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 20px 10px;
        color: #fff;
        font-size: 17px;
        font-family:'Kdam Thmor Pro', sans-serif; 
    }
    
    .card:hover {
        transform: scale(1.10);
    }
    .banner-1 {
        background-image: url('https://rare-gallery.com/mocahbig/59576-Robert-PattinsonThe-Batman-HD-Wallpaper.jpg');

    }
    .banner-2 {
        background-image: url('https://br.web.img3.acsta.net/r_654_368/newsv7/22/02/23/15/26/3275108.jpg');
    }
    .banner-3 {
        background-image: url('https://cdn.mos.cms.futurecdn.net/HdcVSWrYxdoMm8jKa9yAPU.jpg');
    }

    footer {
        height: 250px;
        margin-top:150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    span {
        color: #fff;
        font-family:'Kdam Thmor Pro', sans-serif ;
    }

    .footer-navigation {
        display: none;
        padding: 20px;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media(max-width: 768px) {

footer{
    margin-top: 100px;
}        
.footer-navigation{
        display: block;

    }
nav {
        display: none;
    }
    #banner {
        background-position: 40%;

     }
#trailer-container{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column; 
     }
.content {
        width: 95%;
        display: flex;
        flex-direction:column;

     }
.trailer {
        width: 100%;

     }
 #sinopse {
        width:95%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;

     }
     .actor-cards-container{
        margin-top: 150px;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
    }
          
    
    
    .cards-content{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    }

.description {
        width: 100%;
     }
.button {
        width:100%;
        margin-top: 30px;

}



#banner-contato {
        background-image: url('https://w0.peakpx.com/wallpaper/1013/4/HD-wallpaper-batman-bat-signal-dc-comics.jpg'); 
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        height: 600px;
        
    }
.contatos {
        width: 100%;
        font-size: 30px;
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        font-family: 'Kdam Thmor Pro', sans-serif; 
        color: #fff;
        margin-top:100px;
        cursor: pointer;
    }
.numero-telefone{
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        transition: 1.0s;
        flex-direction: column;
    }
.numero-telefone:hover{
        transform: scale(1.2);
        background-color: #000;
        color: #d21617;
    }

#emergencia{
    width: 20%;
    height: 100px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40%;
    margin-top: 200px;
    padding-top: 35px;
    font-size: 20px;
    font-family:'Kdam Thmor Pro', sans-serif;
    border-radius: 10px;
    background-color: #d21617;
    color: #000;
    cursor: pointer;    
    transition: 0.3s;
    border-color: #d21617;
  }
  @media(max-width: 768px){
    #emergencia{
        width: auto;}

    .contatos{
        display: grid;
        padding: 20px;
    }

    banner-contato{
        width: 40%;
         }
  } 

#emergencia:hover{
    transform: scale(1.5);
    border-color: #d21617;
    font-weight: bold;
    color: #d21617;
    background-color: #000;
  }

.cards-actor-container{
    width: 100%;
    height: 50% 50%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}
  
.fotos-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 20px;
    color: aliceblue;
    margin-left: 30px;
    
.banners{
    width: 95%;
    height: 400px;
    border: solid;
    border-radius: 10px;
    border-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: 1.04s;
    background-size: cover;
    cursor: pointer;
    font-family:'Kdam Thmor Pro', sans-serif; 

}
    
}
  .fotos1{ 
    background-image: url('https://img.elo7.com.br/product/main/1B880BA/painel-1x0-70-batman-painel.jpg');
  }

  .fotos2{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/221/116/854/joaquin-phoenix-joker-batman-fire-car-hd-wallpaper-preview.jpg');

}

  .fotos3{
    background-image: url('https://nosbastidores.com.br/wp-content/uploads/2021/03/critica_mulher_gato_bastidores.jpg');
    
  }
  .banners:hover{
    transform: scale(1.03);
    font-size: 15px;
    border-color: #d21617;
    font-weight: bold;
  }

  @media(max-width: 768px){
   .fotos-content{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
}
.banners{
    width: 100%;
    height:200px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor:pointer;
    transition: 1s;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family:'Kdam Thmor Pro', sans-serif; 
    
}

.cards-actor-container{
margin-top: 10px;

}
.fotos-content{
    width: 95%;

}
    }

.comentarios{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}
.texto-comentarios{
    font-size: 40px;
    color: #fff;
    font-family:'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 0.5;

}

.texto-comentarios:hover{
    color: #d21617;
    transition: 1s;

}

.banner-comentarios{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/59662fdd-1ee6-4a9c-8733-3eeb57c22956/daje8hi-18d8ddc5-9c08-477b-a317-953b5a64f5cd.jpg/v1/fill/w_1280,h_427,q_75,strp/the_dark_knight_concept_banner_by_sirbriggsy_daje8hi-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDI3IiwicGF0aCI6IlwvZlwvNTk2NjJmZGQtMWVlNi00YTljLTg3MzMtM2VlYjU3YzIyOTU2XC9kYWplOGhpLTE4ZDhkZGM1LTljMDgtNDc3Yi1hMzE3LTk1M2I1YTY0ZjVjZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4O3aFSvEaaWI5z8tb5fDJcyW-F7ZpkLRTT7NCgD6Wm8');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}   

@media(max-width: 768px){
    .texto-comentarios{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        margin-left: 40px;
    }

    .baner-comentarios{
        width: 30%;
       
    }
}